<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Achintharya">
    <meta name="description" content="This is Achintharya's portfolio">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aesthetic.css') }}">
</head>

<body>
    <div id = "header">
        <div class = "container">
            <nav>
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#stalk_me">Contact</a></li>
                </ul>
            </nav>
            <div class="me">
                <h1>Hello! I am <span>Achintharya</span><br> A computer science student specializing in AI and ML.</h1>
            </div>
        </div>
    </div>

<!---create and link LLM-->
    <div id = "about">
            <h1>Talk to my AI</h1>
    </div>
    

    <div id= "stalk_me">
        <div class= "container">
            <div class ="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p>Ways to get in touch with me.</p>
                <div class="contact-right">    
                </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Achintharya</p>
    </footer>
</body>
</html>
